:root {
  --font-family: 'Poppins', sans-serif;
  --font-size: 18px;

  /* colors */
  --azul: hsl(180, 66%, 49%);
  --morado:  hsl(257, 27%, 26%) ;
  --red:hsl(0, 87%, 67%);
  --gris:  hsl(0, 0%, 75%);
  --azul-oscuro: hsl(255, 11%, 22%);  
  --morado-oscuro: hsl(260, 8%, 14%);
  --gris-violeta: hsl(257, 7%, 63%);
  --blanco: #FFF;
  --negro: #000;


}


html.html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

/*header*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

/*main*/

.main {
  padding: 0 30px;
  text-align: center;
}

.main__img {
  width: 100%;
  margin-bottom: 30px;
}

.main-info--title {
  font-size: calc(var(--font-size) + 15px);
  line-height: 40px;
  margin-bottom: 20px;
}

.main-info--pgraph {
  color: var(--gris-violeta);
}

.main-info--button {
  padding: 10px 35px; 
  background-color: var(--azul);
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: var(--font-family);
  color: var(--blanco);
  font-size: var(--font-size);
}

/* section form */

.form-shorten {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-oscuro);
  height: 150px;
  padding: 90px 40px;
  margin-bottom: 100px;
}

.form-shorten-input {
  text-align: center;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  outline-color: var(--azul);
  margin-bottom: 20px;
  text-align: left;
  font-family: var(--font-size);
  font-size: var(--font-size);
}

.form-shorten__button {
  width: 100%;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  outline-color: var(--azul);
  font-size: var(--font-size);
  background-color: var(--azul);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--blanco);
}

/* section stadistics */ 
  .statistics {
    text-align: center;
    padding: 0 40px;
    height: 1450px;
    background-color: aliceblue;
  }

  .statistics__title {
    margin-bottom: 20px;
    padding-top: 50px;
  }

  .statistics__pgraph {
    margin-bottom: 30px;
  }

  .statistics-cards {
    margin-top: 50px;
  }
  .statistics-cards--img {
    background-color: var(--azul-oscuro);
    margin-top: 20px;
    padding: 30px 30px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .statistics-cards-container {
    background-color: white;
    margin: 30px 0px;
    border-radius: 10px;

  }

  .statistics-cards-container__title {
    color: var(--azul-oscuro);
  }

  .statistics-cards-container__pgraph {
    color: var(--gris);
    padding-bottom: 30px;
    padding: 30px 30px;

}


.boost {
  height: 200px;
  padding-top: 50px;
  background-color: var(--morado);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.boost__title {
  color: white;
  font-size: calc(var(--font-size) + 10px);
}